.admin-container table th {
    font-size: 12px;
    white-space: nowrap;
}

.admin-container table td {
    font-size: 14px;
}

.admin-container table a {
    font-size: 12px;
}

.admin-container .paginator .col.s12 > * {
    display: inline-block;
    margin: 0 5px;
}

.admin-container .filter-buttons .btn {
    width: 100%;
    display: inline-block;
    font-weight: 400;
}

.admin-container .export-links a {
    margin: 10px;
}

@media (max-width: 767px) {
    .admin-container .filter-buttons .btn {
        margin: 15px auto;
    }

    .admin-container .export-links a {
        margin: 0 15px 0 0;
    }
}
