.main-container {
    padding: 110px 0;
    position: relative;
}

.page-footer .row {
    margin-bottom: 0;
}

a {
    color: #64dd17;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    transition: 0.5s;
}

a:hover {
    filter: shadow(1.5);
    transition: 0.5s;
}

.page-title {
    font-size: 30px;
    font-weight: 600;
    color: #424242;
    text-align: center;
    padding: 25px 0;
}

.input-error-wrapper {
    margin-top: 10px;
    font-size: 12px;
    color: #e53935;
    font-weight: 600;
}

.notice-message-wrapper {
    position: absolute;
    top: 25px;
    width: 100%;
}

.notice-message-wrapper .notice-message {
    width: 40%;
    margin: auto;
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 15px;
}

.notice-message-wrapper .notice-message.error {
    background-color: #ef5350;
    box-shadow: 1px 1px 6px 0 #8c2121;
}


.notice-message-wrapper .notice-message.info {
    background-color: #b2ff59;
    box-shadow: 1px 1px 6px 0 #7aac26;
}


