.index-container .book-cell {
    display: inline-block;
    padding: 80px;
    margin: 35px auto;
    border: 6px solid;
    border-radius: 8px;
    width: 100%;
    font-size: 22px;
    text-align: center;
    transition: 0.6s;
    box-shadow: 1px 1px 12px 0 rgb(100 221 23);
}

.index-container .book-cell:hover {
    background-color: #64dd17;
    color: #ffffff;
    transition: 0.6s;
}

@media (max-width: 767px) {
    .index-container .book-cell {
        padding: 20px;
    }
}