.main-container .info-content {
    margin: 80px auto;
    font-size: 16px;
    color: #5a5454;
    font-weight: 500;
}

.main-container .info-content strong {
    text-transform: lowercase;
    font-weight: 900;
}

.main-container .confirmation-container .row .col:first-child {
    color: #676666;
}

.main-container .confirmation-container .row .col {
    font-weight: 400;
    font-size: 18px;
}

.main-container .confirmation-container .row .col .discount {
    font-style: italic;
    font-weight: 900;
}

.main-container .confirmation-container .row .col .btn,
.main-container .confirmation-container .row .col button {
    width: 100%;
    display: block;
    font-weight: 400;
}

.main-container .similar-container .cars-wrapper .title {
    margin: 15px auto;
    font-size: 20px;
    color: #424a42;
}

.main-container .similar-container .cars-wrapper .car-cell {
    border: 1px solid #a7a796;
    margin-bottom: 10px;
    padding: 5px 0;
}

@media (max-width: 767px) {
    .main-container .confirmation-container .row .col .btn,
    .main-container .confirmation-container .row .col button {
        margin-top: 20px;
    }
}